.App {
  position: relative;
  height: 100%;
  margin: 0;
}



.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  padding-top: 40px;
  animation-name: headerEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  transform: translate3d(0, -300px, 0);
}

.Header::after {
  content: '\0020';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('./header.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}



.StickyBob {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./bob.svg');
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: bobEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  transform: translate3d(0, 120px, 0);
}

@media all and (max-width: 768px) {
  .StickyBob {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
  }
}



.CallToAction {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100% - 500px);
  margin-bottom: 40px;
  padding: 40px 0;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: contentEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
}

.CallToAction__inner {
  box-sizing: border-box;
  max-width: 600px;
  padding: 40px 80px;
  border-radius: 10px;
  background-color: #fff;
}

.CallToAction p {
  line-height: 1.6;
  text-align: center;
}

.CallToAction .CallToAction__button {
  position: relative;
  display: block;
  width: 180px;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #0086FF;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.CallToAction .CallToAction__button::before {
  content: '\0020';
  display: inline-block;
  float:left;
  width: 25px;
  height: 25px;
  /*top : 50%;*/
  /*left : 12px;*/
  /*margin-top: -12.5px;*/
  background-image: url('./messenger-icon.png');
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}



.Arrow {
  margin: 0 auto;
  width: 14px;
  height: 14px;
}

.Arrow::after {
  content: '\0020';
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0086FF;
  border-left: 3px solid #0086FF;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, -45deg);
}



.Bubbles {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 300px;
  opacity: 0;
  animation-name: contentEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
}



@keyframes headerEnter {
  0% {
    transfrom: translate3d(0, -300px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes contentEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bobEnter {
  0% {
    transfrom: translate3d(0, 120px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
