.App {
  position: relative;
  height: 100%;
  margin: 0;
}



.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  padding-top: 40px;
  animation-name: headerEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  transform: translate3d(0, -300px, 0);
}

@media all and (max-width: 767px) {
  .Header {
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.Header::after {
  content: '\0020';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('./header.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}



.StickyBob {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .StickyBob {
    height: 150px;
  }
}

.StickyBob::after {
  content: '\0020';
  width: 100%;
  height: 100%;
  background-image: url('./bob.svg');
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: bobEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  transform: translate3d(0, 120px, 0);
}

@media all and (max-width: 1023px) {
  .StickyBob {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
  }
}



.CallToAction {
  display: flex;
  box-sizing: border-box;
  min-height: calc(100% - 500px);
  margin-bottom: 40px;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: contentEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
}

@media all and (max-width: 1023px) {
  .CallToAction {
    position: relative;
    z-index: 1;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 1;
    animation-name: none;
    margin-bottom: 0;
    min-height: 0;
  }
}

.CallToAction--spaceAfter {
  margin-bottom: 300px;
}

@media all and (max-width: 1023px) {
  .CallToAction--spaceAfter {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 767px) {
  .CallToAction--spaceAfter {
    margin-bottom: 0;
  }
}

.CallToAction__inner {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 40px 80px;
  border-radius: 10px;
  background-color: #fff;
}

@media all and (max-width: 767px) {
  .CallToAction__inner {
    padding: 20px;
    border-radius: 0;
  }
}

@media all and (max-width: 767px) {
  .CallToAction--spaceAfter .CallToAction__inner {
    padding-bottom: 40px;
  }
}

.CallToAction p {
  line-height: 1.6;
  text-align: center;
}

.CallToAction .CallToAction__button {
  position: relative;
  display: block;
  width: 180px;
  margin: 30px auto;
  padding: 20px 20px;
  background-color: #0086FF;
  background-color: #3982f6;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.CallToAction .CallToAction__button::before {
  content: '\0020';
  display: inline-block;
  float:left;
  width: 25px;
  height: 25px;
  background-image: url('./messenger-icon.png');
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}

.CallToAction__footer {
  color: #888;
  font-size: 12px;
}

.CallToAction__footer a {
  color: #888;
}



.Arrow {
  margin: 0 auto;
  width: 14px;
  height: 14px;
}

@media all and (max-width: 767px) {
  .Arrow {
    padding-top: 20px;
  }
}

.Arrow::after {
  content: '\0020';
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #3982f6;
  border-left: 3px solid #3982f6;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, -45deg);
}



.Bubbles {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  border-left: 1px dashed rgba(255, 255, 255, 0.2);
  border-right: 1px dashed rgba(255, 255, 255, 0.2);
  opacity: 0;
  animation-name: contentEnter;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(.86,0,.48,1);
  animation-fill-mode: forwards;
  animation-duration: 400ms;
}

@media all and (max-width: 1023px) {
  .Bubbles {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    opacity: 1;
    animation-name: none;
  }
}

@media all and (max-width: 767px) {
  .Bubbles {
    overflow: hidden;
    background-color: #fff;
  }
}



@keyframes headerEnter {
  0% {
    transfrom: translate3d(0, -300px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes contentEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bobEnter {
  0% {
    transfrom: translate3d(0, 120px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
