.Bubble {
  position: relative;
  display: flex;
  box-sizing: border-box;
  /*width: 100%;*/
  max-width: 400px;
  margin-bottom: 60px;
  padding-left: 70px;
  align-self: flex-start;
  transform: translate3d(-100px, 0, 0);
  transition: transform 400ms ease-in-out;
  perspective: 800px;
  perspective-origin: 50% 50%;
}

@media all and (max-width: 767px) {
  .Bubble {
    margin-bottom: 40px;
  }
}

.Bubble.Bubble--not-bob {
  padding-left: 0;
  padding-right: 0;
  align-self: flex-end;
  transform: translate3d(100px, 0, 0);
}

.Bubble--in-viewport,
.Bubble--in-viewport.Bubble--not-bob {
  transform: translate3d(0, 0, 0);
}



.Bubble__avatar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background-image: url('./bubble__avatar.svg');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale3d(0, 0, 1);
  transition: transform 400ms ease-in-out;
}

.Bubble.Bubble--not-bob .Bubble__avatar {
  left: auto;
  right: 0;
}

.Bubble--in-viewport .Bubble__avatar {
  transform: scale3d(1, 1, 1);
}



.Bubble__inner {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1) translate3d(-0, 300px, -800px);
  transition:
    opacity 100ms ease-in-out,
    transform 400ms ease-in-out;
  transform-style: preserve-3d;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .Bubble__inner {
    background-color: #f0f0f0;
  }
}

.Bubble__inner img {
  width: 100%;
  height: auto;
}

.Bubble--not-bob .Bubble__inner {
  background-color: #3982f6;
  color: #fff;
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1) translate3d(0, 300px, -800px);
}

.Bubble--image .Bubble__inner,
.Bubble--image.Bubble--not-bob .Bubble__inner {
  padding: 0;
  background-color: transparent;
}

@media all and (max-width: 767px) {
  .Bubble--image .Bubble__inner,
  .Bubble--image.Bubble--not-bob .Bubble__inner {
    border: 1px solid #f0f0f0;
  }
}

.Bubble--in-viewport .Bubble__inner,
.Bubble--in-viewport.Bubble--not-bob .Bubble__inner {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}
